{% extends 'main.twig' %}

{%block nav %}

    <div class="container-fluid">
        <nav class="navbar navbar-inverse bg-dark fixed-top col-lg-12 col-md-12 col-sm-12 my-nav" >
            <a class="navbar-brand"  href="http://www.portfolioaj.nazwa.pl/web/">Portfolio</a>
            <div class="d-flex flex-row elements">
                <a id="aboutMe" class="pc elements link active p-2" ><i class="fa fa-user-circle-o"></i> O mnie</a>
                <a id="projects" class="pc elements link active p-2" ><i class="fa fa-newspaper-o"></i> Projekty</a>
                <a id="contact" class="pc elements link active p-2" ><i class="fa fa-envelope-o"></i> Kontakt</a>
                <a class="mobile link active " data-toggle="collapse" href="#collapsemenu" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-align-justify"></i>
                </a>
            </div>

            <div id="collapsemenu" class="collapse elements  dropdown-menu bg-dark">

                <a id="aboutMe" class="link elements  active p-2 dropdown-item" ><i class="fa fa-user-circle-o"></i> O mnie</a>
                <a id="projects" class="link elements  active p-2 dropdown-item" ><i class="fa fa-newspaper-o"></i> Projekty</a>
                <a id="contact" class="link elements  active p-2 dropdown-item" ><i class="fa fa-envelope-o"></i> Kontakt</a>
            </div>
        </nav>
        <div class='row'>
            <div class='col-lg-12 col-md-12 col-sm-12 logo mb-5' style="padding: 0 !important;">
                <!--Zdjęcie strony / portfolio -->
            </div>
        </div>


    {%endblock %}
    {%block about%}

        <div class="row ">
            {%set canv %}
                <canvas class='line'></canvas>
                {%endset%}
            <div class="col-md-12 col-xs-12 col-sm-12 my-3">
                <h1 class="aboutMe my-5 pb-5">O mnie<br/><br/>{{canv}}<i class="fa fa-user-circle-o fa-2x"></i>{{canv}}</h1>

            </div>
        </div>
        <div class="row ">

            <div class="col-md-6 col-xs-12 col-sm-12 px-5 about" >
                <p>Jestem uczniem 3 klasy TI. Od małego pasjonuję się informatyką i programowaniem.</p>
                <p>Jestem młodym człowiekiem, który pragnie się rozwijać i ciągle poszukuję nauki poprzez praktykę.</p>
                <p>Obecnie pracuję zdalnie na zlecenia.</p>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 px-5 about" >
                <p>Zajmuję się programowaniem w PHP i MYSQL.<br/> Także kodowaniem w HTML, CSS, Jquery/Ajax.</p>
                <p>Na ten moment swoje projekty wykonuję we framework-u slim z użyciem Twig.
                    Chętnie podejmę się pracy z frameworkiem Yii2.</p>
                <p>Potrafię również pisać w obiektowym c++.</p>
            </div>
        </div>
        <br/>
        <hr/>
        <div class="row mt-5">

            <mark class="col-md-4 col-xs-4 col-sm-8 cityimg ">
            </mark>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <h1 class="projects my-5">{{canv}}Projekty{{canv}}<br/><br/><i class="fa fa-newspaper-o fa-2x"></i></h1>
                <hr/>

            </div>
        </div>
        
        <div class="row hide before-img row-index">
            <div class="space col-md-1 col-xs-1 col-sm-1">
                
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4 info " >
                <p>Do wykonywanych projektów podchodzę z pietyzmem i precyzją. Są one w pełni responsywne dla Komputerów, laptopów, tabletów i telefonów.</p>
            </div>
            <div class="space col-md-2 col-xs-2 col-sm-2">
                
            </div>
            
            <div class="col-md-4 col-xs-4 col-sm-4 py-5 shadow square">
            </div>
            <div class="space col-md-1 col-xs-1 col-sm-1">
                
            </div>
            <div class="space col-md-1 col-xs-1 col-sm-1">
                
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4 py-4 shadow square">
            </div>
            <div class="space col-md-2 col-xs-2 col-sm-2"></div>
            <div class="col-md-4 col-xs-4 col-sm-4 info" >
                <p>Przy programowaniu, zawsze biorę pod uwagę przypadki,<br/> które mogą wystąpić po stronie użytkownika strony lub programu.</p>
            </div>
            <div class="space col-md-1 col-xs-1 col-sm-1"></div>
            
            
        </div>

    {%endblock %}
    {%block projects %}

        <div class="row my-5">
            <div class="col-lg-4 col-md-4 col-sm-4 pr-i">
                <a href="../web/img/akronimy.png" data-lightbox="roadtrip" title="Strona wykonana w jeden dzień - akronimy.com.pl"><img class="img-thumbnail" src="../web/img/akronimy.png" alt="Akronimy-img" /></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 pr-i">
                <a href="../web/img/p1.png" data-lightbox="roadtrip" title="To miejsce czeka na projekt"><img class="" src="../web/img/p1.png" alt="pusto" /></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 pr-i">
                <a href="../web/img/p1.png" data-lightbox="roadtrip" title="To miejsce czeka na projekt"><img class="" src="../web/img/p1.png" alt="pusto" /></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 pr-i">
                <a href="../web/img/p1.png" data-lightbox="roadtrip" title="To miejsce czeka na projekt"><img class="" src="../web/img/p1.png" alt="pusto" /></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 pr-i">
                <a href="../web/img/p1.png" data-lightbox="roadtrip" title="To miejsce czeka na projekt"><img class="" src="../web/img/p1.png" alt="pusto" /></a>
            </div>
        </div>
    {%endblock %}
    {%block footer %}
        <div class=" contact row bg-dark shadow footer row text-justify">
            <form id="mail" class="col-lg-6 col-md-6 col-sm-12 pl-2" action="{{path_for('send')}}" method="POST">
                <h3>Wiadomość / Zgłoszenie</h3>
                <div class="form-group pt-5">
                    <input type="email" name="email" class="form-control" placeholder="Wpisz swój e-mail do kontaktu.">
                </div>
                <div class="form-group">
                    <input type="text" name="topic" class="form-control" placeholder="Temat zgłoszenia.">
                </div>
                <div class="form-group pt-4">
                    <textarea name="content" class="form-control"  rows="3" placeholder="Treść"></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Wyślij</button>
                </div>
            </form>
            
            <div class="col-lg-6 col-md-6 col-sm-12 pl-5 py-4 adres">
                <h4>Dane Adresowe:</h4><br/><br/>
                <hr/>
                <p>Województwo:     Lubuskie</p>
                <p>Kod pocztowy: 68-100</p>
                <p>Miasto:      Żagań</p>
                <p>Ul. Szprotawska 16/13</p>
                <p>Imię i nazwisko: Albert Jurasik</p>
                <p>e-mail: nanquery@gmail.com </p>
            </div>

        </div>

    {%endblock %}
