<!--Webmaster Albert Jurasik-->
<!DOCTYPE html>
<html lang="pl">
    <head>

        <title>AJ_Portfolio</title>

        <meta charset="utf-8" />

        <meta name="description" content="Free Web tutorials"/>

        <meta name="keywords" content="HTML,CSS,Portfolio,JS,PHP,JQUERY, AJAX,MYSQL,ITP,etc"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../web/css/style.css" rel="stylesheet" type="text/css" >
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../lightbox2-master/dist/css/lightbox.css" />
        <link rel="stylesheet" href="../lightbox2-master/dist/css/lightbox.min.css" />
    </head>
    <body>
        {%block nav %}
        {%endblock%}
        {%block about %}
        {%endblock%}
        {%block projects %}
        {%endblock %}
        {%block footer %}
        {%endblock %}
        {% include 'sfooter.twig' %}
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="../web/js/display.js"></script>
        <script src="../web/js/mail.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="../lightbox2-master/dist/js/lightbox-plus-jquery.min.js"></script>
        <script src="../lightbox2-master/dist/js/lightbox-plus-jquery.js"></script>
    </body>
</html>