{%block sfooter%}
    <center><a class="link active " data-toggle="collapse" href="#sfooter" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-angle-down fa-2x"></i>
        </a></center>
<div id="sfooter" class="collapse col-md-12 col-xs-12 col-sm-12 py-1 mx-0 px-0 text-center">
    Portfolio wykonane przez - Albert Jurasik &copy; Wszelkie Prawa Zastrzeżone!
</div>
</div>
{% endblock %}