body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    background-color: #f7f7f7 !important;
    z-index: 1;

}


.logo {
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    height: 500px; 
    width: 100% !important;
    box-shadow: -4px 6px 8px -6px #4444dd;

}

.cityimg-after {
    background-image: url(../img/second.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    height: 400px;
    width: 25%;
    margin: auto;
    margin-top: 50px;
    opacity: 1;
    transition: 3.2s;
    box-shadow: -4px 6px 10px -6px crimson;
    border-radius: 50%;
}

.cityimg {
    background-image: url(../img/second.jpg);
    background-repeat: no-repeat;
    background-size: 100% 350px;
    height: 300px;
    width: 25%;
    margin-top: 50px;
    opacity: 0.5;
    border-radius: 50%;
    visibility: hidden;

}

.row-index {
    margin: 100px 0;
}

.before-img {
    background-image: url('../img/projectimg.jpg');
    background-size: 100% 100%;
    height: auto;
    z-index: -2;
}


.square {
    
    z-index: 1;
    

}

.square:hover {
    background-color: rgba(247, 247, 247, 0.2);
}

.space {
    
    background-color: #f7f7f7;
    z-index: 1;
}



.info {
    padding: 20px 0;
    background-color: #f7f7f7;
    z-index: 1;
}


.line {
    width: 10%;
    height: 1px;
    border: 1px solid #5FBCF6;
    border-radius: 5px 5px 5px 5px;
    margin: 12px;
}


.about {
    margin-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-word;
}

.footer {
    margin-top: 100px;
    height: auto;
    color: whitesmoke !important;
}

.shadow {
    -moz-box-shadow:    inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.img {
    background-image: url('../img/p1.png');
    background-size: 100% 200px !important;
    background-repeat: no-repeat;
    margin: 4%;
    height: 200px;
    box-shadow: 2px 2px 0px 0px #444444;
}

.img:hover {
    transition: 0.25s;
    -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
    box-shadow: 0 10px 6px -6px black;
}

.my-nav {
    opacity: 0.8; 
    border: 1px solid #104E8B;
    font-size: 18px;
    margin: auto;

}

.my-nav:hover {
    transition: 0.25s;
    opacity: 0.9;
}

.d-flex .link {
    margin-right: 10px;

}

.elements {
    color: #007bff;
    cursor: pointer;
}

a:hover  {
    text-decoration: none !important;
    color: #5FBCF6 !important;
    transition: 0.25s;
}


h1 {
    text-align: center;
}


h1:hover {
    color: #f82600;
    cursor: default;
    transition: 0.25s;
}   

h3 {

    font-weight: bold !important;
    padding-top: 25px;
    text-shadow: 2px 4px 2px #111111;
    cursor: default;
    text-align: center;
}

h3:hover {
    transition: 0.25s;
    text-shadow: 2px 4px 2px #000000;
}

h4 {
    text-align: center;
}

h4:hover {
    text-shadow: 2px 4px 2px #111111;
    transition: 0.25s;
}


.pc {
    visibility: visible;
}

.mobile {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#sfooter:hover {
    font-size: 16px;
    color: tomato;
}



@media (max-width: 1020px) {
    .cityimg-after {
        background-size: 100% 300px;
        height: 300px;
    }

    .logo {
        height: 450px;
    }

}

@media (max-width: 830px) {

    .pc {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }

    .mobile {
        visibility: visible;
        color: #f7f7f7;
        font-size: 24px;
        padding-right: 50px;
        padding-bottom: 36px !important;
        text-align: center;
    }

    .about {
        display: block;
        text-align: justify;
        text-justify: inter-word;
    }

    .cityimg-after {
        border-radius: 50%;
    }


    .adres {
        margin-top: 20px;
    }


    .logo {
        height: 400px;
    }


}

@media (max-width: 580px) {
    .cityimg-after {
        border-radius: 50%;
    }


    .adres {
        text-align: center;
        margin-top: 20px;
    }

    .logo {
        height: 300px;
    }

    .hide {
        visibility: hidden;
        opacity: 0;
        height: 0px;
        width: 0px;
    }
}

.navbar-brand {
    margin: 0%;

}


.pr-i {
    height: 240px;
    width: 240px;
    padding: 10%;
}

//Unused classes and id's
/*
.shadow-t {
    border: 1px solid #000000;
    height: 1px;
    width: 100%;
    margin-bottom: -1px !important;
    -webkit-box-shadow: 0px -4px 3px crimson;
    -moz-box-shadow:    0px -4px 3px crimson;
    box-shadow:         0px -4px 3px crimson;

}





*/